/.metadata/
/msinme-investigacion/target/
/msinme-investigacion/.settings/
/msinme-investigacion/.metadata/
/msinme-investigacion/.classpath
/msinme-investigacion/.project

/msinme-catalogo/target/
/msinme-catalogo/.settings/
/msinme-catalogo/.metadata/
/msinme-catalogo/.classpath
/msinme-catalogo/.project

/guiinme-catalogo/target/
/guiinme-catalogo/.settings/
/guiinme-catalogo/.metadata/
/guiinme-catalogo/.classpath
/guiinme-catalogo/.project


